body {
    /* 
     font-family: sans-serif;
     overflow: hidden !important; 
    */
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#index-pane {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 999;
    transition: all 0.9s;
    overflow: hidden !important;
}

#index-nav {
    height: 10%;
}
#index-pane-wrapper {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
}
#index-search-wrapper {
    flex: 0 1 auto;
    position: relative;
    padding-top: 1em;
}

#index-pane-body {
    padding-right: 15px; /* ruimte voor de scrollbar */
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content-pane {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 70%;
    padding: 10px;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden !important;
}

#content-nav {
    height: 10%;
}
#content-pane.active {
    width: 70%;
}

#content-pane-wrapper {
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
}
#content-search-wrapper {
    flex: 0 1 auto;
    position: relative;
    padding-top: 1em;
}

#content-pane-body,
#content-pane-body-ashtml {
    /* width: 100%;
    height: 100%; */
}

/*  --- nav style ---- */
nav {
    flex: 0 1 auto;
    height: 5em;
    border-bottom: 2px solid #007bff;
}
/* 
#content {
    overflow: inherit;
}
code.hljs {
    overflow: inherit;
}
*/
